:root {
	--russia: hsl(100, 14%, 66%);
	--france: hsl(206, 55%, 73%);

	--russia_dark: #61ac5866;
	--france_dark: hsl(213, 54%, 77%);

	--russia_light: hsl(101, 38%, 79%);
	--france_light: hsl(199, 36%, 79%);
}

main {background-color: hsl(44, 28%, 82%);}

header {background-color: lightgray;}
body.Russia header.your_turn {background-color: var(--russia);}
body.France header.your_turn {background-color: var(--france);}

#role_Russia { background-color: var(--russia);}
#role_France { background-color: var(--france);}

/* MAP */
#mapwrap {
	width: 2214px;
	height: 1653px;
}

#map {
	width: 2214px;
	height: 1653px;
	background-image: url(boards.1x/map.avif);
	background-size: 2214px 1653px;
}

@media (min-resolution: 97dpi) {
	#map {
		background-image: url(boards.2x/map.avif);
	}
}

#tip, #area-tip, #card-tip {
	position: fixed;
	z-index: 100;
	right: 240px;
	top: 60px;
}

.area.highlight {
	border-color: lime;
	box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
	z-index: 10;
}

/* LOGGING */
#log {
	background-color: hsl(52, 30%, 89%);

	& .h1 {
		background-color: hsl(200, 34%, 73%);
		font-weight: bolder;
		padding:2px 0;
		text-align: center;
		font-variant-caps: small-caps;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	& .h1.summer { background-color: hsl(51, 100%, 79%);}
	& .h1.winter { background-color: hsl(200, 61%, 81%); }

	& .h2 {
		background-color: hsl(24, 100%, 85%);
		padding:2px 0;
		text-align: center;
		font-variant-caps: small-caps;
	}

	& .h3 {
		background-color: lightgray;
		text-align: center;
		font-variant-caps: small-caps;
	}

	& .h4 {
		text-align: left;
		background-color: lightgray;
	}
	& .h4.ru { background-color: var(--russia_light); }
	& .h4.fr { background-color: var(--france_light); }

	& .h5 {
		text-decoration: underline;
		font-weight: bold;
	}

	& .group.header {
		font-variant: small-caps;
		text-align: center;
		font-style: normal;
		padding: 4px 4px;
	}

	& .group {
		margin: 0 6px;
		padding: 0px 8px;
	}

	& .group.header.fr { background-color: var(--france_dark); }
	& .group.header.ru { background-color: var(--russia_dark); }

	& .group.fr { background-color: var(--france_light); }
	& .group.ru { background-color: var(--russia_light); }

	& .i {
		text-indent: 14px;
	}

	& .ii {
		text-indent: 28px;
	}

	& .italic {
		font-style: italic;
	}

	& .tip {
		font-variant: small-caps;
		font-style: normal;
	}

	& .card-tip {
		font-variant-caps: small-caps;
		padding: 0 4px;
		border-radius: 2px;
	}

	& .card-tip.fr { background-color: var(--france_light) }
	& .card-tip.ru { background-color: var(--russia_light) }
 }

.tip:hover, .card-tip:hover, .area-tip:hover {
	cursor: pointer;
	text-decoration: underline;
}

#prompt > .card-tip {
	font-style: italic;
}

/* SIDEBAR VP & INITIATIVE DISPLAY */
#vp_display {
	height: 35px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: wheat;
	padding: 4px;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	font-family: var(--font-small);
}

/* DICE */
.dice.battle_fr, .dice.battle_ru {
	background-size: contain;
	border: none;
	width: 14px;
	height: 14px;
}

.dice.battle_fr.d1 {background-image: url(icons/battle_die_fr_1.webp);}
.dice.battle_fr.d2 {background-image: url(icons/battle_die_fr_2.webp);}
.dice.battle_fr.d3 {background-image: url(icons/battle_die_fr_3.webp);}
.dice.battle_fr.d4 {background-image: url(icons/battle_die_fr_4.webp);}
.dice.battle_fr.d5 {background-image: url(icons/battle_die_fr_5.webp);}
.dice.battle_fr.d6 {background-image: url(icons/battle_die_fr_6.webp);}

.dice.battle_ru.d1 {background-image: url(icons/battle_die_ru_1.webp);}
.dice.battle_ru.d2 {background-image: url(icons/battle_die_ru_2.webp);}
.dice.battle_ru.d3 {background-image: url(icons/battle_die_ru_3.webp);}
.dice.battle_ru.d4 {background-image: url(icons/battle_die_ru_4.webp);}
.dice.battle_ru.d5 {background-image: url(icons/battle_die_ru_5.webp);}
.dice.battle_ru.d6 {background-image: url(icons/battle_die_ru_6.webp);}


/* ORDERS PANEL */
#plan_orders {
	width: 2500px;
	height: 150px;
	justify-self: center;
}

/* AREAS, CONNECTIONS */
.area, .connection {
	box-sizing: border-box;
	position: absolute;
	border: 3px solid transparent;
	border-radius: 50% 50% 50% 50%;
}

.area.action, .connection.action {
	border-color: yellow;
	z-index: 20;
}

/* PANELS */
#panels {
	margin: 20px auto;
}

.panel {
	max-width: 2500px;
	margin: 20px auto;
}

.panel-head {
	text-align: center;
	background-color: hsl(80, 6%, 63%);
}

.panel-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;
	min-height: 350px;
}

.piece, .sp {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	Xfilter: drop-shadow(0px 2px 3px #0008);
	transition-property: top, left;
	transition-duration: 1s;
	transition-timing-function: ease;
}


/* LEADERS */
.piece.leader {
	width: 44px;
	height: 44px;
	border: 2px solid lime;
	position: relative;
}

.piece.leader.action {
	box-shadow: 0 0 0 2px yellow;
}

.piece.leader.selected {
	box-shadow: 0 0 0 2px lightgreen;
}

.stack > .piece.leader {
	position: absolute;
}

.piece.leader.Alexander {background-image: url(counters.1x/ru_leader_alexander_i.webp);}
.piece.leader.Kutuzov {background-image: url(counters.1x/ru_leader_kutuzov.webp);}
.piece.leader.Tolly {background-image: url(counters.1x/ru_leader_de_tolly.webp);}
.piece.leader.Bagration {background-image: url(counters.1x/ru_leader_bagration.webp);}
.piece.leader.Tormasov {background-image: url(counters.1x/ru_leader_tormasov.webp);}
.piece.leader.Wittgenstein {background-image: url(counters.1x/ru_leader_wittgenstein.webp);}
.piece.leader.Chichagov {background-image: url(counters.1x/ru_leader_chichagov.webp);}
.piece.leader.Platov {background-image: url(counters.1x/ru_leader_platov.webp);}

.piece.leader.Napoleon {background-image: url(counters.1x/fr_leader_napoleon.webp);}
.piece.leader.Jerome {background-image: url(counters.1x/fr_leader_jerome.webp);}
.piece.leader.Beauharnais {background-image: url(counters.1x/fr_leader_de_beauharnais.webp);}
.piece.leader.Davout {background-image: url(counters.1x/fr_leader_davout.webp);}
.piece.leader.Murat {background-image: url(counters.1x/fr_leader_murat.webp);}
.piece.leader.Schwarzenberg {background-image: url(counters.1x/fr_leader_schwarzenberg.webp);}

.leader_board {
	position: relative;
	width: 590px;
	height: 236px;
	background-size: 590px 236px;
}

.leader_board > * {
	position: absolute;
	width: 190px;
	height: 75px;
	border: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.subordinate_special {
	top: 225px;
	z-index: 1;
}

.subordinate_cavalry {
	top: 150px;
	z-index: 2;
}

.subordinate_infantry {
	top: 75px;
	z-index: 3;
}

.subordinate_leaders {
	z-index: 4;
}

.leader_board.Alexander { background-image: url(boards.1x/leader_board_ru_1.avf);}
.leader_board.Kutuzov { background-image: url(boards.1x/leader_board_ru_7.avf);}
.leader_board.Tolly { background-image: url(boards.1x/leader_board_ru_3.avf);}
.leader_board.Bagration { background-image: url(boards.1x/leader_board_ru_9.avf);}
.leader_board.Tormasov { background-image: url(boards.1x/leader_board_ru_5.avf);}
.leader_board.Wittgenstein {background-image: url(boards.1x/leader_board_ru_11.avf);}
.leader_board.Chichagov { background-image: url(boards.1x/leader_board_ru_13.avf);}
.leader_board.Platov { background-image: url(boards.1x/leader_board_ru_15.avf);}

.leader_board.Napoleon {background-image: url(boards.1x/leader_board_fr_1.avf);}
.leader_board.Jerome {background-image: url(boards.1x/leader_board_fr_3.avf);}
.leader_board.Beauharnais { background-image: url(boards.1x/leader_board_fr_7.avf);}
.leader_board.Davout { background-image: url(boards.1x/leader_board_fr_9.avf);}
.leader_board.Murat {background-image: url(boards.1x/leader_board_fr_5.avf);}
.leader_board.Schwarzenberg { background-image: url(boards.1x/leader_board_fr_11.avf);}

.leader_board.reverse.Alexander { background-image: url(boards.2x/leader_board_ru_1.avf);}
.leader_board.reverse.Kutuzov { background-image: url(boards.1x/leader_board_ru_8.avf);}
.leader_board.reverse.Tolly { background-image: url(boards.1x/leader_board_ru_4.avf);}
.leader_board.reverse.Bagration { background-image: url(boards.1x/leader_board_ru_10.avf);}
.leader_board.reverse.Tormasov { background-image: url(boards.1x/leader_board_ru_6.avf);}
.leader_board.reverse.Wittgenstein {background-image: url(boards.1x/leader_board_ru_12.avf);}
.leader_board.reverse.Chichagov { background-image: url(boards.1x/leader_board_ru_14.avf);}
.leader_board.reverse.Platov { background-image: url(boards.1x/leader_board_ru_16.avf);}

.leader_board.reverse.Napoleon {background-image: url(boards.1x/leader_board_fr_2.avf);}
.leader_board.reverse.Jerome {background-image: url(boards.1x/leader_board_fr_4.avf);}
.leader_board.reverse.Beauharnais { background-image: url(boards.1x/leader_board_fr_8.avf);}
.leader_board.reverse.Davout { background-image: url(boards.1x/leader_board_fr_10.avf);}
.leader_board.reverse.Murat {background-image: url(boards.1x/leader_board_fr_6.avf);}
.leader_board.reverse.Schwarzenberg { background-image: url(boards.1x/leader_board_fr_12.avf);}

/* ORDERS */

.piece.order {
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.piece.order.ru { border: 5px solid #01503b }
.piece.order.fr { border: 5px solid #1a385f }

.piece.order.action {
	box-shadow: 0 0 0 3px yellow;
}

.piece.order.selected {
	box-shadow: 0 0 0 3px lightgreen;
}

.piece.order.forced_march.ru {background-image: url(orders.1x/ru_order_forced_march.webp)}
.piece.order.forced_march.fr {background-image: url(orders.1x/fr_order_forced_march.webp)}
.piece.order.cavalry_patrols.ru { background-image: url(orders.1x/ru_order_cavalry_patrols.webp)}
.piece.order.cavalry_patrols.fr { background-image: url(orders.1x/fr_order_cavalry_patrols.webp)}
.piece.order.march.ru { background-image: url(orders.1x/ru_order_march.webp)}
.piece.order.march.fr { background-image: url(orders.1x/fr_order_march.webp)}
.piece.order.evade.ru { background-image: url(orders.1x/ru_order_evade.webp)}
.piece.order.evade.fr { background-image: url(orders.1x/fr_order_evade.webp)}
.piece.order.defend.ru { background-image: url(orders.1x/ru_order_defend.webp)}
.piece.order.defend.fr { background-image: url(orders.1x/fr_order_defend.webp)}
.piece.order.rally.ru { background-image: url(orders.1x/ru_order_rally.webp)}
.piece.order.rally.fr { background-image: url(orders.1x/fr_order_rally.webp)}
.piece.order.cossack_raid.ru { background-image: url(orders.1x/ru_order_cossack_raid.webp)}
.piece.order.place_depot.ru { background-image: url(orders.1x/ru_order_place_depot.webp)}
.piece.order.place_depot.fr { background-image: url(orders.1x/fr_order_place_depot.webp)}
.piece.order.forage.ru { background-image: url(orders.1x/ru_order_forage.webp)}
.piece.order.forage.fr { background-image: url(orders.1x/fr_order_forage.webp)}
.piece.order.dummy_order.ru { background-image: url(orders.1x/ru_order_dummy.webp)}
.piece.order.dummy_order.fr { background-image: url(orders.1x/fr_order_dummy.webp)}
.piece.order.hidden.ru { background-image: url(orders.1x/ru_order_back.webp)}
.piece.order.hidden.fr { background-image: url(orders.1x/fr_order_back.webp)}

/* TROOPS */

body.hide-pieces .sp { display: none }

.sp {
	width: 44px;
	height: 44px;
	border: 2px solid;
	position: relative;
	background-size: contain;
}

.sp.action {
	box-shadow: 0 0 0 3px yellow;
}

.connection_stack > * {
	z-index: 5;
}

.sp > .half_strength_ru, .sp > .half_strength_fr {
	position: absolute;
	bottom: 30px;
	left: 20px;
}

.sp-text {
	position: absolute;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	width: 20px;
	height: 20px;
	bottom: 4px;
	right: 3px;
	text-align: center;
	align-items: center;
}

.stack > .sp {
	position: absolute;
}

.layout > .sp {
	position: relative;
}

.sp.infantry.ru.fresh 		{ background-image: url(counters.1x/ru_infantry_1.webp);}
.sp.infantry.ru.exhausted 	{ background-image: url(counters.1x/ru_infantry_1_ex.webp);}
.sp.infantry.fr.fresh 		{ background-image: url(counters.1x/fr_infantry_1.webp);}
.sp.infantry.fr.exhausted 	{ background-image: url(counters.1x/fr_infantry_1_ex.webp);}
.sp.infantry.pr.fresh 		{ background-image: url(counters.1x/fr_infantry_pr_1.webp);}
.sp.infantry.pr.exhausted 	{ background-image: url(counters.1x/fr_infantry_pr_1_ex.webp);}
.sp.infantry.au.fresh 		{ background-image: url(counters.1x/fr_infantry_au_1.webp);}
.sp.infantry.au.exhausted 	{ background-image: url(counters.1x/fr_infantry_au_1_ex.webp);}

.sp.cavalry.ru.fresh 		{ background-image: url(counters.1x/ru_cavalry_1.webp);}
.sp.cavalry.ru.exhausted 	{ background-image: url(counters.1x/ru_cavalry_1_ex.webp);}
.sp.cavalry.fr.fresh 		{ background-image: url(counters.1x/fr_cavalry_1.webp);}
.sp.cavalry.fr.exhausted 	{ background-image: url(counters.1x/fr_cavalry_1_ex.webp);}

.sp.cossack.ru.fresh 		{ background-image: url(counters.1x/ru_cossack_1.webp);}
.sp.cossack.ru.exhausted 	{ background-image: url(counters.1x/ru_cossack_1_ex.webp);}
.sp.guard.fr.fresh 		{ background-image: url(counters.1x/fr_guard_1.webp);}
.sp.guard.fr.exhausted 		{ background-image: url(counters.1x/fr_guard_1_ex.webp);}

/* TRACKS */

.marker {
	position: absolute;
	pointer-events: none;
	background-size: cover;
	background-repeat: no-repeat;
	transition-property: top, left;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.marker.vp, .marker.time, .marker.initiative {
	width: 44px;
	height: 44px;
	border: 2px solid;
}

.marker.vp.action, .marker.time.action, .marker.initiative.action {
	box-shadow: 0 0 0 3px skyblue;
}

.marker.vp.fr {background-image: url(counters.1x/marker_fr_vp.webp);}
.marker.vp.ru {background-image: url(counters.1x/marker_ru_vp.webp);}
.marker.time.current {background-image: url(counters.1x/marker_time.webp);}
.marker.time.end {background-image: url(counters.1x/marker_last_turn.webp);}
.marker.initiative.fr {background-image: url(counters.1x/marker_fr_initiative.webp);}
.marker.initiative.ru {background-image: url(counters.1x/marker_ru_initiative.webp);}

.marker.devastation {
	border: 2px solid;
	width: 36px;
	height: 36px;
	left: -15px;
	z-index: -2;
	border-radius: 50%;
}

.area > .marker.devastation { /* top left */
	top: -10px;
}

.marker.devastation.lvl1 { background-image: url(counters.1x/devastation_1.webp) }
.marker.devastation.lvl2 { background-image: url(counters.1x/devastation_2.webp) }
.marker.devastation.lvl3 { background-image: url(counters.1x/devastation_3.webp) }

.marker.depot {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	position: relative;
	width: 37px;
	height: 37px;
}

.area > .marker.depot {
	bottom: -25px;
	left: -40px;
}

.marker.depot.ru { background-image: url(pieces/green_cube.svg);}
.marker.depot.fr { background-image: url(pieces/blue_cube.svg);}

.attrition_checked {
	border: 2px solid;
	width: 50px;
	height: 50px;
	background-size: 100%;
	background-image: url(counters.1x/attrition_checked.webp);
	border-radius: 50%;
	pointer-events: auto;
}

.half_strength_ru, .half_strength_fr {
	width: 44px;
	height: 44px;
	background-size: 100%;
	pointer-events: auto;
}

.half_strength_ru { background-image: url(counters.1x/ru_half.webp) }
.half_strength_fr { background-image: url(counters.1x/fr_half.webp) }

/* BEVELS */

.devastation.lvl1 { background-color: #9f8d7c; border-color: #c8b5a4 #786756 #786756 #c8b5a4; box-shadow: 0 0 0 1px #100500; }
.devastation.lvl2 { background-color: #cd8e64; border-color: #fcba8f #a0643b #a0643b #fcba8f; box-shadow: 0 0 0 1px #220000; }
.devastation.lvl3 { background-color: #d9705d; border-color: #ff9985 #ac4837 #ac4837 #ff9985; box-shadow: 0 0 0 1px #2b0000; }
.sp.fr,.sp.pr,.sp.au { background-color: #5781b7; border-color: #7aa6de #355e91 #355e91 #7aa6de; box-shadow: 0 0 0 1px #000029; }
.sp.ru { background-color: #46905d; border-color: #6bb580 #1f6d3c #1f6d3c #6bb580; box-shadow: 0 0 0 1px #000d00; }
.sp.fr.exhuasted,.sp.pr.exhuasted,.sp.au.exhuasted { background-color: #a4b5c9; border-color: #d5e7fb #768699 #768699 #d5e7fb; box-shadow: 0 0 0 1px #030c1a; }
.sp.ru.exhuasted { background-color: #a2b6a1; border-color: #d2e7d1 #758774 #758774 #d2e7d1; box-shadow: 0 0 0 1px #030f03; }
.leader.fr { background-color: #13385c; border-color: #264a70 #012649 #012649 #264a70; box-shadow: 0 0 0 1px #000014; }
.leader.ru { background-color: #065337; border-color: #26694c #003e23 #003e23 #26694c; box-shadow: 0 0 0 1px #000500; }
.marker { background-color: #c0c0c0; border-color: #f5f5f5 #8e8e8e #8e8e8e #f5f5f5; box-shadow: 0 0 0 1px #0e0e0e; }
.marker.time { background-color: #a67d4d; border-color: #cea372 #805929 #805929 #cea372; box-shadow: 0 0 0 1px #180000; }
.marker.time.end { background-color: #555555; border-color: #6e6e6e #3d3d3d #3d3d3d #6e6e6e; box-shadow: 0 0 0 1px #020202; }
.marker.initiative.fr { background-color: #1a3a5f; border-color: #2c4d73 #07284b #07284b #2c4d73; box-shadow: 0 0 0 1px #000015; }
.marker.initiative.ru { background-color: #3b7c50; border-color: #5b9c6e #195d33 #195d33 #5b9c6e; box-shadow: 0 0 0 1px #000a00; }
.marker.vp.fr { background-color: #1a3a5f; border-color: #2c4d73 #07284b #07284b #2c4d73; box-shadow: 0 0 0 1px #000015; }
.marker.vp.ru { background-color: #3b7c50; border-color: #5b9c6e #195d33 #195d33 #5b9c6e; box-shadow: 0 0 0 1px #000a00; }

/* CARDS */
.card {
	background-size: 100%;
	background-repeat: no-repeat;
	width: 250px;
	height: 350px;
	border-radius: 16px;
	box-shadow: 1px 1px 5px #0006;
}

.card.action {
	box-shadow: 0 0 0 3px yellow;
}

.card_back_ru{background-image:url(cards.1x/card_ru_back.avif)}
.card_back_fr{background-image:url(cards.1x/card_fr_back.avif)}

/* See gencardscss.js in /tools */
.card_0{background-image:url(cards.1x/card_ru_00.avif)}
.card_1{background-image:url(cards.1x/card_ru_01.avif)}
.card_2{background-image:url(cards.1x/card_ru_02.avif)}
.card_3{background-image:url(cards.1x/card_ru_03.avif)}
.card_4{background-image:url(cards.1x/card_ru_04.avif)}
.card_5{background-image:url(cards.1x/card_ru_05.avif)}
.card_6{background-image:url(cards.1x/card_ru_06.avif)}
.card_7{background-image:url(cards.1x/card_ru_07.avif)}
.card_8{background-image:url(cards.1x/card_ru_08.avif)}
.card_9{background-image:url(cards.1x/card_ru_09.avif)}
.card_10{background-image:url(cards.1x/card_ru_10.avif)}
.card_11{background-image:url(cards.1x/card_ru_11.avif)}
.card_12{background-image:url(cards.1x/card_ru_12.avif)}
.card_13{background-image:url(cards.1x/card_ru_13.avif)}
.card_14{background-image:url(cards.1x/card_ru_14.avif)}
.card_15{background-image:url(cards.1x/card_ru_15.avif)}
.card_16{background-image:url(cards.1x/card_ru_16.avif)}
.card_17{background-image:url(cards.1x/card_ru_17.avif)}
.card_18{background-image:url(cards.1x/card_ru_18.avif)}
.card_19{background-image:url(cards.1x/card_ru_19.avif)}
.card_20{background-image:url(cards.1x/card_ru_20.avif)}
.card_21{background-image:url(cards.1x/card_ru_21.avif)}
.card_22{background-image:url(cards.1x/card_ru_22.avif)}
.card_23{background-image:url(cards.1x/card_ru_23.avif)}
.card_24{background-image:url(cards.1x/card_ru_24.avif)}
.card_25{background-image:url(cards.1x/card_ru_25.avif)}
.card_26{background-image:url(cards.1x/card_ru_26.avif)}
.card_27{background-image:url(cards.1x/card_ru_27.avif)}
.card_28{background-image:url(cards.1x/card_ru_28.avif)}
.card_29{background-image:url(cards.1x/card_ru_29.avif)}
.card_30{background-image:url(cards.1x/card_ru_30.avif)}
.card_31{background-image:url(cards.1x/card_ru_31.avif)}
.card_32{background-image:url(cards.1x/card_ru_32.avif)}
.card_33{background-image:url(cards.1x/card_ru_33.avif)}
.card_34{background-image:url(cards.1x/card_ru_34.avif)}
.card_35{background-image:url(cards.1x/card_ru_35.avif)}
.card_36{background-image:url(cards.1x/card_ru_36.avif)}
.card_37{background-image:url(cards.1x/card_ru_37.avif)}
.card_38{background-image:url(cards.1x/card_ru_38.avif)}
.card_39{background-image:url(cards.1x/card_ru_39.avif)}
.card_40{background-image:url(cards.1x/card_ru_40.avif)}
.card_41{background-image:url(cards.1x/card_ru_41.avif)}
.card_42{background-image:url(cards.1x/card_ru_42.avif)}
.card_43{background-image:url(cards.1x/card_ru_43.avif)}
.card_44{background-image:url(cards.1x/card_ru_44.avif)}
.card_45{background-image:url(cards.1x/card_ru_45.avif)}
.card_46{background-image:url(cards.1x/card_ru_46.avif)}
.card_47{background-image:url(cards.1x/card_ru_47.avif)}
.card_48{background-image:url(cards.1x/card_ru_48.avif)}
.card_49{background-image:url(cards.1x/card_ru_49.avif)}
.card_50{background-image:url(cards.1x/card_ru_50.avif)}
.card_51{background-image:url(cards.1x/card_ru_51.avif)}
.card_52{background-image:url(cards.1x/card_ru_52.avif)}
.card_53{background-image:url(cards.1x/card_ru_53.avif)}
.card_54{background-image:url(cards.1x/card_fr_00.avif)}
.card_55{background-image:url(cards.1x/card_fr_01.avif)}
.card_56{background-image:url(cards.1x/card_fr_02.avif)}
.card_57{background-image:url(cards.1x/card_fr_03.avif)}
.card_58{background-image:url(cards.1x/card_fr_04.avif)}
.card_59{background-image:url(cards.1x/card_fr_05.avif)}
.card_60{background-image:url(cards.1x/card_fr_06.avif)}
.card_61{background-image:url(cards.1x/card_fr_07.avif)}
.card_62{background-image:url(cards.1x/card_fr_08.avif)}
.card_63{background-image:url(cards.1x/card_fr_09.avif)}
.card_64{background-image:url(cards.1x/card_fr_10.avif)}
.card_65{background-image:url(cards.1x/card_fr_11.avif)}
.card_66{background-image:url(cards.1x/card_fr_12.avif)}
.card_67{background-image:url(cards.1x/card_fr_13.avif)}
.card_68{background-image:url(cards.1x/card_fr_14.avif)}
.card_69{background-image:url(cards.1x/card_fr_15.avif)}
.card_70{background-image:url(cards.1x/card_fr_16.avif)}
.card_71{background-image:url(cards.1x/card_fr_17.avif)}
.card_72{background-image:url(cards.1x/card_fr_18.avif)}
.card_73{background-image:url(cards.1x/card_fr_19.avif)}
.card_74{background-image:url(cards.1x/card_fr_20.avif)}
.card_75{background-image:url(cards.1x/card_fr_21.avif)}
.card_76{background-image:url(cards.1x/card_fr_22.avif)}
.card_77{background-image:url(cards.1x/card_fr_23.avif)}
.card_78{background-image:url(cards.1x/card_fr_24.avif)}
.card_79{background-image:url(cards.1x/card_fr_25.avif)}
.card_80{background-image:url(cards.1x/card_fr_26.avif)}
.card_81{background-image:url(cards.1x/card_fr_27.avif)}
.card_82{background-image:url(cards.1x/card_fr_28.avif)}
.card_83{background-image:url(cards.1x/card_fr_29.avif)}
.card_84{background-image:url(cards.1x/card_fr_30.avif)}
.card_85{background-image:url(cards.1x/card_fr_31.avif)}
.card_86{background-image:url(cards.1x/card_fr_32.avif)}
.card_87{background-image:url(cards.1x/card_fr_33.avif)}
.card_88{background-image:url(cards.1x/card_fr_34.avif)}
.card_89{background-image:url(cards.1x/card_fr_35.avif)}
.card_90{background-image:url(cards.1x/card_fr_36.avif)}
.card_91{background-image:url(cards.1x/card_fr_37.avif)}
.card_92{background-image:url(cards.1x/card_fr_38.avif)}
.card_93{background-image:url(cards.1x/card_fr_39.avif)}
.card_94{background-image:url(cards.1x/card_fr_40.avif)}
.card_95{background-image:url(cards.1x/card_fr_41.avif)}
.card_96{background-image:url(cards.1x/card_fr_42.avif)}
.card_97{background-image:url(cards.1x/card_fr_43.avif)}
.card_98{background-image:url(cards.1x/card_fr_44.avif)}
.card_99{background-image:url(cards.1x/card_fr_45.avif)}
.card_100{background-image:url(cards.1x/card_fr_46.avif)}
.card_101{background-image:url(cards.1x/card_fr_47.avif)}
.card_102{background-image:url(cards.1x/card_fr_48.avif)}
.card_103{background-image:url(cards.1x/card_fr_49.avif)}
.card_104{background-image:url(cards.1x/card_fr_50.avif)}
.card_105{background-image:url(cards.1x/card_fr_51.avif)}
.card_106{background-image:url(cards.1x/card_fr_52.avif)}
.card_107{background-image:url(cards.1x/card_fr_53.avif)}
